{% extends 'base.html.twig' %}
{% block body %}

    <!-- Page Content -->
<div class="container">

    <!-- News Section -->
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <hr>

{% endblock %}