{% extends 'base.html.twig' %}
{% block body %}

    <!-- Page Content -->
<div class="container">

    <!-- News Section -->
    <div class="row">
    <h2>Sukces!</h2>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <hr>

{% endblock %}