{% trans_default_domain 'FOSUserBundle' %}

<form class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" placeholder="Wprowadź login/email" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" placeholder="Wprowadź hasło" type="password" id="password" name="_password" required="required" />
    </div>

    <div class="checkbox">
        <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />Zapamiętaj mnie</label>
    </div>

    <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="Zaloguj" />

</form>

{% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

