{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}
{% block body %}
    <!-- Page Content -->
<div class="container">

    <!-- News Section -->
    <div class="row">
        <h2>Dodaj nowy film</h2>
        <hr>

        {{ form_start(form) }}
        <ul class="links list-unstyled" data-prototype="{{ form_widget(form.links.vars.prototype)|e('html_attr') }}"></ul>
        {{ form_widget(form) }}

        {{ form_end(form) }}

    </div>
    <!-- /.row -->
    <!-- /.row -->
    <hr>

    <script>

        var $collectionHolder;

        // setup an "add a link" link
        var $addLinkLink = $('<a href="#" class="add_link_link btn btn-default">Dodaj nowy link</a>');
        var $newLinkLi = $addLinkLink;

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of links


            $('ul.links').appendTo($('#add_film_links'));

            $collectionHolder = $('ul.links');

            // add a delete link to all of the existing link form li elements
            $collectionHolder.find('li').each(function() {
                addLinkFormDeleteLink($(this));
            });

            // add the "add a link" anchor and li to the links ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addLinkLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new link form (see next code block)
                addLinkForm($collectionHolder, $newLinkLi);
            });
        });

        function addLinkForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a link" link li
            var $newFormLi = $('<li class="unstyled"></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addLinkFormDeleteLink($newFormLi);
        }

        function addLinkFormDeleteLink($linkFormLi) {
            var $removeFormA = $('<a href="#" class="btn btn-warning">Usuń powyższy link</a>');
            $linkFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the link form
                $linkFormLi.remove();
            });
        }

    </script>

{% endblock %}